@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100');

/*========article========*/
h2, h3 {
   color: #7e3848;
   font-size: 32px;
   font-family: 'Josefin Sans', sans-serif;
}

.paragraf {
  text-align: justify;
  line-height: 1.5;
  color: black;
}

.featured-image { /*setting gambar pada article*/
   width: 100%;
   max-height: 300px;
   object-fit: cover;
   object-position: center;
}s

/*========footer========*/

footer {
   text-align: center;
   padding: 1px;

    * {
         display: flex;
         flex-direction: column;
         margin: 0 auto;
     }
}

footer a {
    text-decoration: none;
    font-size: 14px;
    color: white;

}

.flex-container-row {
   display: flex;
   max-width: 100%;
}

.menu {
   flex-basis: 100%;
   text-align: center;
   border: none;
}

.display {
      color: white;
      width: 100%;
      border: none;
      text-align: center;
      font-size: 30px;
      padding: 10px;
}

.footer-image {
   max-height: 50px;
   max-width: 40px;
   object-fit: cover;
}

@media screen and (max-width: 513px) {
}
